@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat|Ubuntu');

body {
  background-color: hsl(0, 0%, 97%);
}

header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 30px;
    margin: 15px 0;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.loading {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigContainer {
  text-align: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

::placeholder {
  color: hsl(180, 50%, 40%);
}

.teamsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;  
}

/* ALIGN THE LAST ITEM OF THE LIST (CAUSES SEARCH PROBLEM) */
/* 
.teamsContainer:after {
  content: "";
  width: 28%;
  margin: 30px;
} */

.teamCard {
  width: 28%;
  height: 340px;
  margin: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background: linear-gradient(to left, hsl(190, 65%, 65%), hsl(220, 65%, 65%));
    top: -15px;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  img {
    width: 120px;
    height: 120px;
  }
}

.teamInfos {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    color: hsl(180, 50%, 40%);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20); 
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.5px;
  }
}

.buttonsContainer {
  width: 100%;
  height: 80px;
  display: flex;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  i {
    font-size: 35px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
  }
  button {
    font-size: 22px;
    background: linear-gradient(hsl(190, 65%, 65%), hsl(220, 65%, 65%));
    border: none;
    border-radius: 5px;
    width: 80%;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      background: linear-gradient(hsl(140, 65%, 65%), hsl(190, 65%, 65%));
      transition: 0.2s;
    }
  }
}

/* MOBILE */
@media (max-width: 479px) {
  header h1 {
    font-size: 25px;
    margin: 15px 0;
  }

  .teamCard {
    width: 90%;
    height: 340px;
    margin: 15px 20px;
  }

  .buttonsContainer button {
    width: 100%;
    transform: scale(0.9);
    &:hover {
      transform: scale(0.95);
    }
  }
}

/* HIGH MOBILE */
@media (min-width: 480px) and (max-width: 767px) {
  header h1 {
    font-size: 25px;
    margin: 15px 0;
  }

  .teamCard {
    width: 45%;
    height: 340px;
    margin: 25px 10px;
  }
  
  .teamInfos p {
    font-size: 20px;
  }

  .buttonsContainer button {
    width: 100%;
    transform: scale(0.9);
    &:hover {
      transform: scale(0.95);
    }
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 979px) {
  header h1 {
    font-size: 28px;
    margin: 15px 0;
  }

  .teamCard {
    width: 30%;
    height: 340px;
    margin: 25px 10px;
  }

  .buttonsContainer button {
    width: 100%;
    transform: scale(0.9);
    &:hover {
      transform: scale(0.95);
    }
  }
}

/* LARGE DESKTOP */
@media (min-width: 1600px) {
  .teamCard {
    width: 20%;
    height: 340px;
    margin: 40px;
  }
}